section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#vedench1{
    text-align: center;
    color: white;
    font-size: 35px;
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
}
.animaltab{
    max-width: 350px;
    background-color: #464646;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.animaltabimg{
    max-width: 300px;
    height: 200px;
    border-style: none;
    border-radius: 10px;
    margin-top: 15px;

}
.animalname{
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}
.animalname:hover{
    color: #e1aa2f;
}

 .card {
    position: relative;
    width : 300px;
    height : 200px;
    background-color : white;
    margin : 30px 10px;
    padding : 20px 15px;

    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}
.card:hover {
    height : 300px;
}


.card .image {
    position : relative;
    top : -40%;
    display: flex;
    justify-content: center;
    border-radius : 15px;
    z-index : 1;
}

 .card .image img {
    max-width : 100%;
    border-radius : 15px;
     box-shadow : 0 10px 20px rgba(0,0,0,0.5);
}

.card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : black;
    text-align : center;

    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;

}

 .card:hover .content {
    margin-top : 30px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;

}

 .iconimg{
     width: 25px;
 }

 td{
     width: 50px;
 }