#maindiv{
    max-width: 600px;
    margin: 10px auto;
    background-color: rgba(70, 70, 70, 0.5);
    text-align: center;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
}
.animaltabimg{
    max-width: 300px;
    height: 200px;
    border-style: none;
    border-radius: 15px;

}
.animalname{
    text-decoration: none;
    font-size: 30px;
    color: white !important;
    font-weight: bold;
}
#headerdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video{
    max-width: 500px;
}
#leftheaderdiv, #rightheaderdiv{
    margin: 10px;
}
.iconimg{
    width: 30px;
}

td{
    width: 50px;
}
a{
    color: white !important;
}
p{
    color: white;
}
@media screen and (max-width: 400px) {
    #maindiv{
        margin: 20px;
    }
    video{
        max-width: 300px;
    }
}
