table{
    text-align: center;
    width: 100%;
}
.center{
    text-align: center;
    color: white !important;
}
h1{
    color: white;
    font-size: 35px;
}
#map{
    width: 100%;
}

.textdiv{
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    background-color: rgba(70, 70, 70, 0.51);
    color: white;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
}

main{
    display: grid;
    align-self: center;
}