h1{
    color: white;
    font-size: 35px;
}
h2{
    color: white;
    font-size: 30px;
}



input[type="checkbox"]{
    width: 30px !important;
}
table{
    width: 100%;
}
td{
    width: 100px;
}
li{
    text-align: left;
}
@media screen and (max-width: 600px) {
    .textdiv{
        margin: 10px;
    }
}